:root {
    --gramyse-color: #1ba489;
    --gramyse-light-gray: #111823;
    --gramyse-dark-gray: #0a0f16;
}

a:link,
a:visited {
    background-color: var(--gramyse-color);
    border: none;
    color: #FFFFFF;
    padding: 5px 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

a:hover,
a:active {
    background: linear-gradient(to right top, #40a567, #4182bf);
}

.table-chess {
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    color: #ffffff;
    min-width: 300px;
    background-color: #ddedea;
    box-shadow: 0 0 5px rgb(197, 197, 197);
}

.table-chess thead tr {
    background: linear-gradient(to right top, #40a567, #4182bf);
    color: #ffffff;
    text-align: center;
}

.table-chess th,
.table-chess td {
    padding: 12px 15px;
}

.table-chess tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ddedea;
    color: black;
}

.table-chess tbody tr:last-of-type {
    border-bottom: 2px solid var(--gramyse-color);
}


/*INPUT*/

#msform {
    position: absolute;
    left: 50%;
}

#msform fieldset {
    text-align: left;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    /*stacking fieldsets above each other*/
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}