body{
    font-family: Verdana;
    background-color: whitesmoke;
    margin: 0px;
}
#naglowek{
    background-color: chocolate;
    text-align: center;
    font-size: 30px;
}
#navi{
    width: 33%;
    color: white;
}
#przycisk1{
    border: 0px;
    background-color: yellow;
    width: 100%;
    height: 100%;
    font-size: 50px;
}
#przycisk2{
    border: 0px;
    background-color: greenyellow;
    width: 100%;
    height: 100%;
    font-size: 50px;
}
#zawartosc{
    background-color: grey;
    width: 100%;
}
#stopka{
    background-color: chocolate;
    width: 100%;
    height: 200px;
}
.contener{
    width: 30%;
    text-align: center;
}
.przycisk{
    width: 400px;
    height: 300px;
    border: 0px;
}
#zdjecie{
    width: 20%;
    padding: 10px;
}
#zawartoscproduktu{
    width: 60%;
    text-align: center;
}
#panel{
    width: 20%;
    text-align: center;
}
#podsumowanie{
    width: 100%;
    height: 200px;
}